/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 87px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
.logo1{
    margin: 10px;
  }
  
  .logo1 img{
    height: 47px;
    width: 100px;
    border: 2px solid gray;
    border-radius: 12px;
  }

  .search {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    padding: 3px 3px;
    border-radius: 10px;
    margin-left: 595px;
  }
  
  .searchInput {
    border: none;
    height: 27px;
    width: 130px;
    padding: 3px;
    background-color: transparent;
    
  }
  
  .searchInput::placeholder {
    color: gray;
  }
  


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}



/* BODY Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 30px;
    height: 455px;
    margin-top: 115px;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('bg2.webp') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    color: black;
    text-align: center;
    font-size: 65px;
    font-family: 'Arial', serif;
}

#home p{
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    font-family: 'Bakbak One', cursive;
}



.center{
    text-align: center;
}


/*   SERVICES   */

#services-container{
    background: url("bg1.jpeg") no-repeat center center/cover;
    height: 460px;
}
#services{
    margin: 34px;
    display: flex;
}
#services .box{ 
    border: 2px solid gray;
    padding: 34px;
    margin: 70px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px #ccc;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#services .box p{
    font-family: 'Karla', sans-serif;

} 



/*        FOOTER      */

footer {
    display: flex;
    background-color: #2c3c4f;
  }
  
  .footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  .fMenuTitle {
    color: white;
    font-size: 16px;
    font-family: 'Baloo Bhai', cursive;
  }
  
  .fList {
    padding: 0;
    list-style: none;
  }
  
  .fListItem {
    margin-bottom: 10px;
    color: lightgrey;
    cursor: pointer;
  }
  .fListItem:hover {
    text-decoration: underline;
  }
  
  .footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fInput {
    padding: 5px;
  }
  
  .fButton {
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 9px;
  }

  .fButton:hover {
    padding: 5px;
    background-color: lightgreen;
    color: black;
    border-radius: 9px;
  }
  
  
  .fIcons{
    display: flex;
  }
  
  .fIcon{
    width: 20px;
    height: 20px;
    margin-right: 18px;
    margin-top: 10px;
  }
  
  .fMenuTitle1 {
    color: white;
    font-size: 16px;
    font-family: 'Baloo Bhai', cursive;
    margin-top: 20px;
  }

  /* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}

.center{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}